<div class="animate__animated animate__fadeIn">
  <h3>Buscar por region <small>{{activatedRegion|titlecase}}</small></h3>
  <hr>
  <h5>Seleccione region</h5>

  <div class="row">
    <div class="col">
      <!--    [ngClass]="{-->
      <!--    'btn-outline-primary': region!==activatedRegion,-->
      <!--    'btn-primary': region===activatedRegion-->
      <!--    }"-->
      <button *ngFor="let region of regions"
              [class]="(region===activatedRegion)?'btn-primary':'btn-outline-primary'"
              class="btn m-r-2"
              (click)="activeRegion(region)"
      >
        {{region|titlecase}}
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="countries.length>0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
